html{
    font-size: 14px;
}

@media (min-width: 768px) {
    html{
        font-size: 16px;
    }
}

.blog-header{
    margin-top: 7rem;
    max-width: 700px;
}

@media (max-width: 768px){
    .blog-header{
        margin-top: 8rem;
    }
}

.container{
    max-width: 960px;
}

.team{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 2rem;
}

.card-deck .card{
    min-width: 220px;
}

.card-text{
    padding-top: 1rem;
    padding-left: 10rem;
    margin-right: 165px;
}

.card-block{
    min-height: 220px;
}

.active{
    border-bottom: 1px solid black;
}

.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.my-0{
    padding-left: 30rem;
}

.text-muted{
    margin-left: auto;
    margin-right: 165px;
}

.btn-group{
    margin-left: 140px;
    margin-right: auto;
}























